@{ 
    this.ViewData["Title"] = "Error";
    Layout = ""; 
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta HTTP-EQUIV="refresh" CONTENT="5;URL=https://localhost:44319/">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title >404 HTML Template by Colorlib</title>


    <link rel="icon" href="~/img/core-img/favicon.ico" asp-append-version="true">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/style.css" asp-append-version="true">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />

</head>

<body>

    <div id="notfound">
        <div class="notfound-bg"></div>
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2>we are sorry, but the page you requested was not found</h2>
            <a asp-action="Index" class="home-btn">Go Home</a>
            <a asp-action="Index" class="contact-btn">Contact us</a>
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>

<section>
    <script>
        
    </script>
</section>