@model ENews.Web.ViewModels.Galleries.GalleryPreviewViewModel
    <div>

        <div>
            <div class="container-fluid">
                <div class="row mb-4">
                    @foreach (var image in Model.Images)
                    {
                        <div class="col-md-4">
                            <img src="@image.ImageUrl" height="200" width="350" onclick="myFunction(this);" />
                        </div>
                    }
                </div>
            </div>

            <div class="container mb-4">
                <!-- Close the image -->
                <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

                <!-- Expanded image -->
                <img id="expandedImg" style="width:100%">

                <!-- Image text -->
                <div id="imgtext"></div>
            </div>
        </div>
        <div class="col-12">
            <h4 class="text-center">
                <a asp-controller="Articles" asp-action="Index" asp-area="" asp-route-id="@Model.ArticleId" class="btn btn-primary">Go back to article!</a>
            </h4>
        </div>

    </div>
    