@model ENews.Web.ViewModels.Categories.SubCategoryArticlesViewModel

<h1>FromSub @Model.Title</h1>

@foreach (var article in Model.Articles)
{
    @await Html.PartialAsync("_ArticlePartial", article)
}