@{
    this.ViewData["Title"] = "Administration Index";
}
<h1>
    @this.ViewData["Title"]
</h1>

<ul>
    <li>
        <a asp-area="Administration" asp-controller="Users" asp-action="Active">AllUsers</a>
    </li>
    <li>
        <a asp-area="Administration" asp-controller="Categories" asp-action="Index">AllCategories</a>
    </li>
    <li>
        <a asp-area="Administration" asp-controller="SubCategories" asp-action="Index">AllSubCategories</a>
    </li>
</ul>
