@{
    this.ViewData["Title"] = "Administration Index";
}
<h1  class="text-center">
    @this.ViewData["Title"]
</h1>

<div class="row pt-2">
    <div class="col-6">
        <div class="text-right">
                <a asp-area="Administration" asp-controller="Users" asp-action="Active" class="btn btn-secondary btn-lg btn-block">Users</a>
        </div>
    </div>
    <div class="col-6">
        <div class="text-right">
                <a asp-area="Administration" asp-controller="Categories" asp-action="Active" class="btn btn-primary btn-lg btn-block">Categories!</a>
        </div>
    </div>
</div>
<div class="row pt-2">
    <div class="col-6">
        <div class="text-right">
            <a asp-area="Administration" asp-controller="Articles" asp-action="AllActive"class="btn btn-primary btn-lg btn-block">Articles</a>
        </div>
    </div>
    <div class="col-6">
        <div class="text-right">
            <a asp-area="Administration" asp-controller="SubCategories" asp-action="Active" class="btn btn-secondary btn-lg btn-block">SubCategories</a>
        </div>
    </div>
</div>
